<head>
<title>Coin Changer</title>
<center>
<h1>Enter an amount of change to convert to coins.</h1>
<body>
		<%=message1%><%=results%>
		<form action='coins' method='POST'>
			<input type='text' name='change' required><br><br>
			<input type='submit' value='Submit'>
		</form>

</body>
</center>
</head>