body {
	background-color:black;
	color:white;
}

form {
	background-color:black;
	color:white;
}

h1 {
	background-color:black;
	color:white;
}

title {
	background-color:black;
	color:white;
}

#hi {
	background-color:black;
	color:white;
}